
<%- include("partials/header"); -%>

<h1>Home</h1>
<p> <%= startingContent %> </p>


<%  posts.forEach(function(post){ %>

<h1><%=post.title%></h1>
<p>
<!-- <%=post.content.substring(0, 100) + " ..."%> -->
<a href="/posts/<%=post._id%>">Read More</a>
<form action="/delete" method="post">
    <div class="item">
        <input type="checkbox" name="checkbox" value="<%=post._id%>" onChange="this.form.submit()">
        <- Check to delete the post
    </div>
</form>
</p>


<% }) %>


<%- include("partials/footer"); -%>